@model CleanArch.Application.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">


    @foreach (var item in Model.Courses)
    {
        <h1 class="display-4">@item.Title</h1>
        <p>@item.Description</p>

    }
</div>